In [50]:
import pandas as pd
from tqdm import tqdm
from sklearn.model_selection import train_test_split

In [51]:
for i in tqdm(range(1000000)):
    pass

100%|██████████| 1000000/1000000 [00:00<00:00, 3943093.46it/s]

In [52]:
class DataGenerator:
    def __init__(self, X, y, sampleSize):
        self.X = X
        self.y = y
        self.sampleSize = sampleSize
        return
    
    def trainvalidtestSplit(self):
        X_train, X_remaining, y_train, y_remaining = train_test_split(self.X, self.y, train_size=0.7, random_state=0)
        X_validate, X_test, y_validate, y_test = train_test_split(X_remaining, y_remaining, test_size=0.333, random_state=0)
        self.X_train = X_train
        self.y_train = y_train
        self.X_validate = X_validate
        self.y_validate = y_validate
        self.X_test = X_test
        self.y_test = y_test
        return
    
    def training_data_generator(self):
        sample_train_x, remaining_train_x, sample_train_y, remaining_train_y = train_test_split(self.X_train, self.y_train, train_size=self.sampleSize, random_state=0)
        return sample_train_x, sample_train_y
    
    def validation_data_generator(self):
        sample_valid_x, remaining_valid_x, sample_valid_y, remaining_valid_y = train_test_split(self.X_validate, self.y_validate, train_size=self.sampleSize, random_state=0)
        return sample_valid_x, sample_valid_y

In [53]:
##read_csv
df = pd.read_csv('housing.csv', header=None,
names=['x1','x2','x3','x4','x5','x6','x7','x8','x9','x10','x11','x12','x13','y'])
df.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,y
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [54]:
DataGen = DataGenerator(df.values[:,0:-1], df.values[:,-1], sampleSize=16)
DataGen.trainvalidtestSplit()

In [55]:
sample_train_x, sample_train_y = DataGen.training_data_generator()
sample_valid_x, sample_valid_y = DataGen.validation_data_generator()